name: Deployment pipeline (Account Service)

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy account-service to dev server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          command_timeout: 15m
          script: |
            echo "===== Going to deployment directory ====="
            cd /srv

            # If your repo is not cloned yet, clone it
            if [ ! -d "grid-wars" ]; then
              echo "Cloning repository..."
              git clone https://${{ secrets.ACCESS_TOKEN_KEY }}@github.com/SaifAlqady51/grid-wars.git main
            fi

            # Go to repo folder
            cd grid-wars

            echo "===== Pulling latest code from main branch ====="
            git checkout main 
            git pull https://${{ secrets.ACCESS_TOKEN_KEY }}@github.com/SaifAlqady51/grid-wars.git main 

            echo "===== Rebuilding and restarting account-service container ====="
            docker compose up -d --build account-service

            echo "===== Cleaning up unused Docker resources ====="
            docker system prune -f

            sleep 5

            echo "===== CONTAINER STATUS ====="
            docker ps -a

            echo "===== ACCOUNT-SERVICE LOGS ====="
            docker logs account-service
